.medium-blue {
    -fx-background-color: #6a99cb;
}

.dark-blue {
    -fx-background-color: #014f86;
}

/* Used https://stackoverflow.com/questions/68768778/javafx-button-hover-effect */
.button {
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-background-color: #cae9ff;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-effect: innershadow(three-pass-box, #c0c0c0, 10, 0.1, 0, 0);
}

.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #bde0fe;
}

// used Bing AI for help with adding effect in stylesheet
.lesson-plan-button {
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-background-color: lavender;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-style: Georgia;
    -fx-effect: innershadow(three-pass-box, #c0c0c0, 10, 0.2, 0, 0);
}

.card-browser-button {
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-background-color: #014f86;
    -fx-text-fill: #d3d3d3;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-text-style: Georgia;
    -fx-effect: dropshadow(three-pass-box, #d3d3d3, 10, 0.2, 0, 0);
}

.list-view {
    -fx-background-color: #cae9ff;
    -fx-border-color: black;
    -fx-border-width: 1;
}

.list-cell {
    -fx-font: 13pt "Georgia";
    -fx-background-color: #cae9ff;
    -fx-border-color: black;
    -fx-border-width: 0.5;
}

.list-cell:selected {
    -fx-background-color: #014f86;
    -fx-text-fill: white;
}

.list-cell:hover {
    -fx-background-color: #014f86;
    -fx-text-fill: white;
}

/* Used https://stackoverflow.com/questions/29220712/simple-way-to-change-javafx-treeview-background-and-text-color */
.tree-cell {
    -fx-background-color: #cae9ff;
    -fx-font: 14pt "Georgia";
}

.tree-cell: selected {
    -fx-background-color: #014f86;
    -fx-text-fill: white;
}

.tree-view {
    -fx-background-color: #cae9ff;
    -fx-border-color: black;
    -fx-border-width: 1;
}

.menu-bar {
    -fx-font: 14pt "Georgia";
    -fx-border-color: #808080;
    -fx-border-width: 1;
}
